.about-title {
	position: relative;
	padding: 100px 0 40px 0;
	&:before {
		content: "";
		position: absolute;
		bottom: -1px;
		right: 0;
		width: 100%;
		height: 760px;
		background: url(../img/about-prebg.svg) right bottom no-repeat;
		background-size: contain;
	}
	.container {
		position: relative;
	}
	h2 {
		font-weight: 800;
		font-size: 45px;
		color: #2E2363;
	}

	&__sub-title {
		font-style: normal;
		font-weight: 800;
		font-size: 55px;
		line-height: 35px;
		color: #D71E6C;
		margin-right: 60px;
		margin-bottom: 60px;
		span {
			font-size: 35px;
		}
	}
}

.about {
	background: #FFCC46;
	position: relative;

	

	
}

.about-list {
	&__item {
		font-weight: 800;
		font-size: 20px;
		line-height: 1.4;
		color: #2E2363;

		span {
			display: block;
			min-width: 90px;
			font-weight: 800;
			font-size: 150px;
			line-height: 183px;
			color: rgba(255, 255, 255, 0.2);
			margin: -35px 30px 0 0;
		}

	}
}

@media screen and (max-width: 768px) {
	.about-title {
		&__sub-title {
			font-weight: 800;
			font-size: 25px;
			line-height: 30px;
			color: #3F327A;
			margin-bottom: 30px;
			margin-right: 0;
			strong, span {
				
			}
			span {
				font-size: 25px;
				line-height: 30px;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.about-title {
		h2 {
			font-weight: 800;
			font-size: 24px;
			color: #D71E6C;
			margin-bottom: 20px;
		}
		
	}
	.about-list {
		&__item {
			font-size: 15px;
			line-height: 20px;
			span {
				min-width: 50px;
			    font-size: 90px;
			    margin: -60px 30px 0 0;
			}
		}
	}
	.about-info {
		&__img {
			img {
				max-width: 100%;
				transform: scale(-1, 1) ;
			}
		}
	}
}
