.partners {
	padding: 60px 0 50px 0;
	text-align: center;

	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.4;
		color: #2E2363;
		margin-bottom: 30px;
	}

	&__list {
		flex-wrap: wrap;
		div {
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width: 768px) {
	.partners {
		padding: 30px 0 10px 0;
		&__text {
			font-size: 14px;
			margin-bottom: 10px;
		}
		&__list {
			div {
				margin: 10px;
			}
		}
	}
}